<%- include("partials/header.ejs") %>


<% if(locals.game) { %>

  <% if(game.cssFile) { %>
    <link rel="stylesheet" href="/css/<%= game.cssFile %>">
  <% } %>

  <%- include(game.name) %>

  <script src="/js/<%= game.jsFile %>"></script>
  
<% } else { %>
  <h3>Aucun jeu n'est sélectionné</h3>
<% } %>


<%- include("partials/footer.ejs") %>